body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.05rem;
    background-image: url("../images/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.outer-container {
    display: flex;
    justify-content: center;
}

.form-container {
    margin-top: 5rem;
    width: 28rem;
    max-width: 90%;
    height: 20rem;
    border: 2px solid black;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    background-color: rgba(233, 238, 248, 0.8);
    backdrop-filter: blur(8px);
    box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 0px 5px 15px 0px rgba(0,0,0,0.5);
}

.row {
    margin-top: 1rem;
}

.centerrow {
    display: flex;
    justify-content: center;
}

.no-mt {
    margin-top: 0;
}

.no-mb {
    margin-bottom: 0;
}

h1 {
    font-size: 2rem;
    letter-spacing: 0.1rem;
}

h2 {
    letter-spacing: 0.1rem;
}

.title1 {
    color: #1D63F4;
}

.title2 {
    color: #E1A53B;
}

.label {
    width: 5.5rem;
    display: inline-block;
}

input[type="text"], input[type="password"] {
    height: 1.25rem;
    letter-spacing: 0.1rem;
}

.startbutton, .startbutton:focus {
    margin-top: 1rem;
    height: 2.5rem;
    width: 8rem;
    background-color: #1D63F4;
    color: white;
    border: 1px solid black;
    border-radius: 0.5rem;
    cursor: pointer;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    transition: all 0.1s ease-in-out;
}

.startbutton:hover {
    transform: scale(1.005);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.75);
}

.startbutton:active {
    transform: scale(1);
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
}