body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    background-color: antiquewhite;
}

.nav {
    display: flex;
    justify-content: space-around;
    margin: 1rem;
    padding-bottom: 1rem;
    border-bottom: 2px solid black;
}

.goback {
    border: 1px solid #551A8B;
    border-radius: 0.25rem;
    text-decoration: none;
    padding: 0.5rem;
    color: #551A8B;
    transition: all 0.1s ease-in-out;
}

.goback:hover {
    background-color: #551A8B;
    color: white;
}

.threecounter {
    width: 24rem;
}

.timer {
    width: 7rem;
    margin-top: 0.5rem;
}

.pthrees, .timer-counter {
    margin-left: 0.25rem;
}

.player {
    margin-left: 0.25rem;
    margin-top: 0.5rem;
}

.powers-btn {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 1.1rem;
    cursor: pointer;
}

.board-container {
    display: flex;
    justify-content: center;
}

.board {
    border-collapse: collapse;
}

.board-col {
    background-color: #1D63F4;
    padding: 0.4rem;
    border: 1px solid #1D63F4;
}

.slot {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: white;
}

.hint {
    box-shadow: 0px 0px 0px 5px rgb(98, 255, 0) inset;
    -webkit-box-shadow: 0px 0px 0px 5px rgb(98, 255, 0) inset;
    -moz-box-shadow: 0px 0px 0px 5px rgb(98, 255, 0) inset;
}

.empty-col {
    padding: 0.4rem;
}

.empty-slot {
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 50%;
    background-color: white;
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}

.empty-slot:hover {
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.75) inset;
}

.player1 {
    background-color: #FFCA32;
}

.player2 {
    background-color: #CF1B31;
}

.top {
    padding-top: 1rem;
}

.left {
    padding-left: 1rem;
}

.right {
    padding-right: 1rem;
}

.bottom {
    padding-bottom: 1rem;
}